@charset "UTF-8";
/* CSS Document */



*{
    margin: 0;
    padding: 0;
}
html{
    width: 410px;
    background:#FCDADB;
    -webkit-text-size-adjust:100%;
}
body{
    background: #FFF;
}
p{
    font-size: 11px;
    line-height: 30px
}







.center-margin{
    text-align: center;
}

.main-title1{
 margin: 0 0 0 20px;
}

.Commentary{
    margin: 10px 0 0 20px
}
.Overview{
    margin: 20px;
}



/*表---------------------------------------------------------------------*/
.line{
    border: 3px #77b8d3 solid;
    margin: 0 0 30px 0;
}
.main-title2{
    margin: 20px;
}


/*立ち回り-----------------------------------------------------------------*/
.or{
    margin: -20px 0 20px 0;
}
.color-red{
    color: red;
}
.color-purple{
    color: purple;
}
.color-yellow{
    color: yellow;
}
.color-rainbow{
    color: rainbow;
}
.color-blue{
    color: blue;
}
.color-green{
    color: green;
}
h5{
    margin: 20px;
}
.Commentary2{
    margin: 0 0 0 50px;
}
.background-blue{
    background: #bce3f4;
    padding: 10px 0 30px 0 ; 
}

/*ジェム狙い---------------------------------------------------------------------*/
.Overview2{
    margin: 0 0 0 180px;
}
.Overview3{
    margin-left: 100px;
}
/*last---------------------------------------------------------------------*/
.Commentary3{
    margin-left: 240px;
}
h1{
    margin-left: 130px;
    border-bottom: 3px #000 solid;
    width: 215px
}
.line2{
    border: 30px #77b8d3 solid;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.green{
    background:#AAE0AF;
    padding: 20px 0 20px 0;
}
/*表---------------------------------------------------------------------*/



.af{
    margin-top: 30px;
    margin-left: 80px;
}
/*ハンバーガー---------------------------------------------------------------------*/
/*ヘッダーまわりはサイトに合わせて調整してください*/
#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/

/*ハンバーガーアイコンをCSSだけで表現*/

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 180px;/*最大幅（調整してください）*/
  height: 100%;
  background: #77B8D3;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
  opacity: 0.9;
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
.fixed{
    position: fixed;
    bottom: 50px;
    left: 300px;
}
#nav-content a{
    margin: 20px;
    display: block;
    text-decoration: none;
    color: #fff;
}
/*---------------------------------------------------------------------*/


.afi table{
    display: inline-block;
}
.afi{
    text-align: center;
    margin-top: 0px;
}
.cd{
    margin-bottom: 30px;
}


