@charset "UTF-8";
/* CSS Document */

*{
    margin: 0;
    padding: 0;
}
html{
    width: 410px;
    background:#FCDADB;
    -webkit-text-size-adjust:100%;
}
body{
    background: #FFF;
}
p{
    font-size: 11px;
    line-height: 30px
}
h2{
    text-align: center;
    display: block;
    margin: 30px;
}
h1{
    margin-left: 90px;
    background: #77B8D3;
    color: #FFF;
    font-size: 25px;
    display: inline;
    padding: 20px;
}




.green{
    color: green;
}
.deta-all{
    width: 390px;
    margin-left: 10px;
    text-align: center;
}
.deta-all{
    font-size: 10px;
}
.skill{
    width: 140px;
}
.seen-name{
    width: 100px;
}

.blue{
    color: blue;
}
.red{
    color: red;
}
.yellow{
    color: #B8C300;
}
.purple{
    color: purple;
}
.orange{
    color: orange;
}
.sab{
     background: #C8FFDB;
    padding:30px 0;
}
.sab h3{
    margin-left: 10px;
}
.sab2{
     background: #97FFBA;
    padding:30px 0;
}
.sab2 h3{
    margin-left: 10px;
}

.sab3{
     background: #55FF8E;
    padding:30px 0;
}
.sab3 h3{
    margin-left: 10px;
}




.sab4{
     background: #FFE7E7;
    padding:30px 0;
}
.sab4 h3{
    margin-left: 10px;
}
.sab5{
     background:  #FFB7B8;
    padding:30px 0;
}
.sab5 h3{
    margin-left: 10px;
}

.sab6{
     background: #FF6264;
    padding:30px 0;
}
.sab6 h3{
    margin-left: 10px;
}




.sab7{
     background: #DCE7FF;
    padding:30px 0;
}
.sab7 h3{
    margin-left: 10px;
}
.sab8{
     background: #B3C9FF;
    padding:30px 0;
}
.sab8 h3{
    margin-left: 10px;
}

.sab9{
     background: #83A7FF;
    padding:30px 0;
}
.sab9 h3{
    margin-left: 10px;
}



.sab10{
     background: #FFFCE3;
    padding:30px 0;
}
.sab10 h3{
    margin-left: 10px;
}
.sab11
{
     background: #FFFEC0;
    padding:30px 0;
}
.sab11 h3{
    margin-left: 10px;
}

.sab12{
     background: #FFF49C;
    padding:30px 0;
}
.sab12 h3{
    margin-left: 10px;
}


.sab13{
     background: #F1E9FF;
    padding:30px 0;
}
.sab13 h3{
    margin-left: 10px;
}
.sab14

{
     background: #E0CFFF;
    padding:30px 0;
}
.sab14 h3{
    margin-left: 10px;
}

.sab15{
     background: #C8A9FF;
    padding:30px 0;
}
.sab15 h3{
    margin-left: 10px;
}











/*ボタン指示---------------------------------*/
.green-list{
    display: none;
}
.red-list{
    display:none;
}
.blue-list{
    display:none;
}
.yellow-list{
    display:none;
}
.purple-list{
    display:none;
}



.fin{
    width: 410px;
    height: 60px;
    background: #77B8D3;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}











